/* Elementos em geral */
:root {
  --r-background-color: #0c0c0c;
  --quarto-hl-fu-color: #92CCFF
}

body * {
  line-height: 1.2 !important;
}

.subtitle {
  font-size: 0.7em;
  font-weight: bold;
  display: block;
  margin-bottom: 5%;
}

h2 {
  margin: 0 !important;
}

.reveal pre {
  font-size: 0.3em;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.gap10 {
  gap: 10%;
}

/* Configura cores de links */
:root {
  --r-link-color: #42a4fa;
  --r-link-color-dark: #067fea;
  --r-link-color-hover: #74bcfb;
  --r-selection-background-color: #bfe0fd;
}

/* Slides de capa */
#cover-title {
  position: absolute;
  top: 20%;
  width: 100%;
  font-size: 1.7em;
  font-weight: bold;
  background: linear-gradient(90deg, #0c0c0c 0%, #046FCC 25% 70%, #0c0c0c 100%);
  color: var(--quarto-hl-fu-color);
  padding: 3% 5%;
}

#cover-title code {
  padding-left: 7%;
  font-size: 1.5em;
}

#cover-subtitle {
  position: absolute;
  top: 70%;
  left: 10%;
  width: 60%;
  text-align: center;
  font-size: 0.7em;
}

#cover-author {
  font-size: 1.5em;
}

.clip-svg {
  display: block;
  width: 0;
  height: 0;
}

.masked {
  clip-path: url("#cover-mask");
  position: absolute;
  z-index: 1;
}

#bg-masked {
  background: linear-gradient(#a2a6af, #c1a96f);
  width: 55%;
  height: 100%;
  top: 0;
  right: 0.5%;
}

#cover-masked {
  background-image: url("./images/cover-img.jpg");
  background-size: 115%;
  background-position-x: 0%;
  background-position-y: 60%;
  width: 53%;
  height: 97%;
  top: 2%;
  right: 0;
}

/* Slides sobre camadas do ggplot */
.pkg-intro {
  justify-content: space-between;
  align-items: center;
}

.pkg-intro > p:first-child {
  width: 80%;
}

.pkg-intro img {
  height: 180px;
}

.listing-items {
  justify-content: space-around;
  align-items: flex-end;
  margin-top: 5%;
}

.listing-items > div {
  width: 25%;
}

.list-item {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-item strong {
  font-size: 1.6em;
}

.list-item hr {
  border: #046FCC 2px solid;
  border-radius: 2px;
  width: 90%;
  margin: 0.2em;
}

/* Slides sobre aes */
#explain-aes {
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 5%;
}

#explain-aes > div:nth-child(1) {
  width: 30%;
}

#explain-aes > div:nth-child(2) {
  width: 20%;
}

#explain-aes > div:nth-child(3) {
  width: 30%;
}

.aes-code {
  width: 65%;
  justify-content: space-between;
}

/* Slides sobre vantagens do ggiraph */
#why-girafe {
  margin-top: 3%;
}

#why-ggiraph {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

#why-gif {
  width: 90%;
  height: 250px;
  background-image: url('./images/why.gif');
  background-size: cover;
  background-position-y: 15%;
}

#why-ggiraph > blockquote {
  width: 75%;
}

#why-elements {
  margin-top: 5%;
  justify-content: space-around;
}

#why-example {
  justify-content: space-between;
}

#why-example > div:first-child {
  width: 55%;
}

#why-steps {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  margin-top: 5%;
}

.text-steps {
  font-size: 0.8em;
}

.text-steps span {
  font-size: 0.8em;
}

/* Slides sobre customização */
#custom-intro {
  width: 65%;
}

/* Slides sobre hospedagem */
#host-img {
  align-items: center;
  justify-content: space-around;
  margin-top: 5%;
}

#host-img img {
  width: 180px;
}
